*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.project-container{
    width: 80vw;
    height: fit-content;
    margin: 1% auto 2%;
    background-color: rgb(87, 81, 81);
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* box-shadow: 20px 30px rgb(rgb(70, 65, 65), green, blue) ; */

    /* text-align: left; */
}
.project-links{
    /* border: 1px solid yellow; */
    display: flex;
    box-sizing: border-box;
    padding: 1%;
    justify-content: space-between;
    height: 45px;
    background-color: rgb(45, 58, 58);
    margin: auto;
    text-align: right;
    /* padding: 1% 3%; */
    width: 90%;
}

.project-about{
    width: 90%;
    height: fit-content;
    /* border: 2px solid yellow; */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 1.3% auto;
    background-color: rgb(66, 59, 27);
    color: wheat;
    padding: 1% 1% 1% 2% ;
    border-radius: 2%;
}
.h4{
    text-align: left;
    font-size: 1.4em;
    text-decoration: wavy;;
    text-transform: capitalize;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.h6{
    text-align: left;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    color: aliceblue;
    /* margin-left: 2% */
}

.des{
    text-align: left;
    font-size: 1em;
    text-decoration: wavy;
    text-transform: capitalize;
    font-style: italic;
}
.des ul{
    margin: 0.5%;
    color: rgb(240, 231, 247);   
    margin: 2%;
}
.h4:hover{
    transform: scale(1.1);
    transition: 1s ease-out;
    color: aqua;
}


@media screen and (max-width:650px) {
    .project-container{
        width: 100%;
        margin:  1% 0% 4% 0;
        padding: 2%;
        /* margin-top: 0%; */
    }
    .des ul{
        margin: 0.5%;
        color: rgb(240, 231, 247);   
        margin: 2%;
        font-size: 12px;
    }
    .project-about{
        width: 97%;
        margin: 2% auto;
    }
    .project-links{
        width: 98%;
    }
    .h4{
        font-size: 1.2em;
        margin: 1% auto 1%;
    }
    .h6{
        font-size: .9em;
        color: rgb(250, 213, 4);
        width: 100vw;
        /* margin: 1% auto 1%; */
    }
}

