*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    
}
.user{
    height: fit-content;
    padding: 3% auto;
    padding: auto;
    width: 100%;
    padding-bottom: .5%;
    background-color: rgb(82, 70, 47);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    /* border: yellow 3px dotted; */
    padding: 2%;
}

.user-container{

    border-radius: 2%;
    width: 70vw;
    margin: 0.3% auto  .9%;
    height: fit-content;
    padding: 4%;
    background-color: rgb(61, 88, 109);
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    display: flex;
    justify-content: space-between;
}
.user-form{
    text-align: left;   
    width: 40%;
    
}
.user-pic{
    width: 40%;
    background-color: rgb(223, 110, 110);
    border-radius: 50%;
}
.picture{
    width:98%;
    height: 99%;
    background-image: url('https://www.upwork.com/catalog-images-resized/75f5f1be4668779a47e3c36375bf2b34/large@2x');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin: auto;
}
.picture:hover{
    transform: scale(1.07);
    transition: 2s ease-in-out;
}
.message{
    padding: 1%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
@media screen and (max-width:900px) {
    .user-container{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 1%;
    }   
    .user-pic{
        height: 30vh;
        width: 40vw;
        margin: 4% auto;

    }
    .user-form{
        width: 40vw;
    }
    .message{
        width: 40vw;
        height: 15vh;
    }
}

@media screen and (max-width:900px) {
    .user{
        height: fit-content;
        padding-bottom: .5%;
        height: 80vj;
    }
    .user-container{
        flex-direction: column-reverse;
        align-items: center;
        margin: 1% auto;
        margin-bottom: 5%;
    }
    .user-pic{
        margin: .5% auto 3%;
        height: 40vh;
    }   

}

@media screen and (max-width:450px) {
.user{
        width: 98%;
        background-color: rgb(98, 86, 109);
        height: fit-content;
    }
.user-container{
        flex-direction: column-reverse;
        align-items: center;
        margin: 1% auto;
        background-color: #0f5364;
        width: 95%;
        margin-bottom: 5%;
    }   
    .user-pic{
        /* height: 47vh; */
        width: 65%;
        margin: 4% auto;
        height: 28vh;
        padding-bottom: .5%;
        background-color: #5c767c;
    }
    .user-form{
        width: 70vw;
        margin: 3% auto 0  ;
    }
    .message{
        width: 70vw;
        height: 15vh;
    }

    #btn2{
        width : 100px;
        color: beige;
        padding: auto 2%;
        font-size: 1em;
        background-color: rgb(41, 92, 3); 
    } 
    #btn2:hover{
        width : 100px;
        color: rgb(17, 17, 6);
        border: 1px solid ;
        padding: auto 2%;
        background-color: rgb(158, 177, 144); 
    } 
}
